<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include('./partials/head.ejs')  %>

  <body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs')  %>
    
    <!-- MAIN -->
    <main>
      <section class="sectionContainer">
        <article class="articleContainer">
          <img src="/img/imgIndex/el-arte-de-ser-nosotros.jpg">
          <div class="bookDescrip">
            <h3>El arte de ser nosotros</h3>
            <p class="price">$7000</p>
          </div>
        </article>
        <article class="articleContainer">
          <img src="/img/imgIndex/ciudades-de-papel.jpg">
          <div class="bookDescrip">
            <h3>Ciudades de papel</h3>
            <p class="price">$6000</p>
          </div>
        </article>
        <article class="articleContainer">
          <img src="/img/imgIndex/brillaras.jpg">
          <div class="bookDescrip">
            <h3>Brillaras</h3>
            <p class="price">$6000</p>
          </div>
        </article>
        <article class="articleContainer">
          <img src="/img/imgIndex/al-final-de-la-calle.jpg">
          <div class="bookDescrip">
            <h3>Al final de la calle</h3>
            <p class="price">$6000</p>
          </div>
        </article>
        <article class="articleContainer">
          <img src="/img/imgIndex/adios-cachorra.jpg">
          <div class="bookDescrip">
            <h3>Adios cachorra</h3>
            <p class="price">$6000</p>
          </div>
        </article>
        <article class="articleContainer">
          <img src="/img/imgIndex/bajo-la-misma-estrella.jpg">
          <div class="bookDescrip">
            <h3>Bajo la misma estrella</h3>
            <p class="price">$6000</p>
          </div>
        </article>
        <article class="articleContainer">
          <img src="/img/imgIndex/el-sutil-arte.jpg">
          <div class="bookDescrip">
            <h3>El sutil arte de que (casi todo) te importe una mierda</h3>
            <p class="price">$6000</p>
          </div>
        </article>
        <article class="articleContainer">
          <img src="/img/imgIndex/el-visitante.jpg">
          <div class="bookDescrip">
            <h3>El visitante</h3>
            <p class="price">$6000</p>
          </div>
        </article>
        <article class="articleContainer">
          <img src="/img/imgIndex/hackea-tu-mente.jpg">
          <div class="bookDescrip">
            <h3>Hackea tu mente</h3>
            <p class="price">$6000</p>
          </div>
        </article>
        <article class="articleContainer">
          <img src="/img/imgIndex/nosotros-en-la-luna.jpg">
          <div class="bookDescrip">
            <h3>Nosotros en la luna</h3>
            <p class="price">$6000</p>
          </div>
        </article>
        <article class="articleContainer">
          <img src="/img/imgIndex/seras.jpg">
          <div class="bookDescrip">
            <h3>Serás</h3>
            <p class="price">$6000</p>
          </div>
        </article>
        <article class="articleContainer">
          <img src="/img/imgIndex/verity.jpg">
          <div class="bookDescrip">
            <h3>Verity</h3>
            <p class="price">$6000</p>
          </div>
        </article>
        
      </section>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
