<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9ea4be703a.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- HEADER -->
    <header class="main-header">
      <div class="main-header-top-bar">
        <a href="/home" class="logo">
          <img
            src="/img/logo-palabras-sin-prisa.png"
            alt="logo-palabras-sin-prisa"
          />
        </a>

        <div class="search-bar">
          <form action="" method="post">
            <input
              type="text"
              name="search-bar"
              id="search-bar"
              placeholder="Buscar libros, autores"
            />
            <button
              type="submit"
              name="submit"
              value="submit"
              class="search-icon"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
      </div>
      <nav class="main-navbar">
        <ul class="login-bar">
          <li>
            <a href="/home">Inicio<i class="fa-solid fa-house"></i></a>
          </li>
          <li>
            <a href="/detalle-de-producto"
              >Detalle <i class="fa-solid fa-book"></i
            ></a>
          </li>
          <li>
            <a href="/registro"
              >Registrarse<i class="fa-regular fa-address-card"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              >Ingreso<i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="/carrito-de-compras"
              >Mi carrito<i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
          <li>
            <a href="/contacto"
              >Contacto <i class="fa-solid fa-address-book"></i
            ></a>
          </li>
        </ul>
      </nav>
      <a href="#" class="burger-button">
        <i class="fas fa-bars"></i>
      </a>
    </header>
    <!--MAIN -->
    <main class="carrito-container">
      <h1 class="titulo">Carrito de compras</h1>
      <div class="carrito-section">
        <section class="products-section">
          <article>
            <div class="caja-article-img">
              <img src="/img/libro1.jpg" alt="img-libro-1" />
            </div>
            <div class="caja-article-info">
              <h3>Libro 1</h3>
              <p>Precio por unidad $000</p>
              <button>1</button>
              <p>Precio sutotal $000</p>
              <i class="fa-solid fa-trash"></i>
            </div>
          </article>
          <article>
            <div class="caja-article-img">
              <img src="/img/libro2.jpg" alt="img-libro-2" />
            </div>
            <div class="caja-article-info">
              <h3>Libro 2</h3>
              <p>Precio por unidad $000</p>
              <button>1</button>
              <p>Precio sutotal $000</p>
              <i class="fa-solid fa-trash"></i>
            </div>
          </article>
          <article>
            <div class="caja-article-img">
              <img src="/img/libro3.jpg" alt="img-libro-3" />
            </div>
            <div class="caja-article-info">
              <h3>Libro 3</h3>
              <p>Precio por unidad $000</p>
              <button>1</button>
              <p>Precio sutotal $000</p>
              <i class="fa-solid fa-trash"></i>
            </div>
          </article>
          <article>
            <div class="caja-article-img">
              <img src="/img/libro4.jpg" alt="img-libro-4" />
            </div>
            <div class="caja-article-info">
              <h3>Libro 4</h3>
              <p>Precio por unidad $000</p>
              <button>1</button>
              <p>Precio sutotal $000</p>
              <i class="fa-solid fa-trash"></i>
            </div>
          </article>
        </section>
        <section class="buy-section">
          <h3>Envio gratis</h3>
          <form action="" method="post">
            <div>
              <label for="cp">Código postal</label>
              <input type="text" />
            </div>
            <div>
              <label for="descuento">Cupon de descuento</label>
              <input type="text" />
              <button type="submit">Añadir</button>
            </div>
            <div class="buy-button">
              <button type="submit">FINALIZAR COMPRA</button>
              <button><a href="/home">SEGUIR COMPRANDO</a></button>
            </div>
          </form>
        </section>
      </div>
    </main>
    <!-- FOOTER -->
    <footer>
      <section class="footer-section">
        <ul class="footer-navbar">
          <li>
            <a href="#">Productos</a>
          </li>
          <li>
            <a href="#">Sucursales</a>
          </li>
          <li>
            <a href="#">Ayuda</a>
          </li>
          <li>
            <a href="/home">PALABRAS SIN PRISA</a>
          </li>
          <li>
            <a href="#">Medios de pago</a>
          </li>
          <li>
            <a href="#">Servicios de atencion al cliente</a>
          </li>
        </ul>
      </section>
      <section class="footer-section">
        <ul class="social-media-navbar">
          <li>
            <a href="https://facebook.com/"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </li>
          <li>
            <a href="https://instagram.com/"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/"
              ><i class="fa-brands fa-twitter"></i
            ></a>
          </li>
        </ul>
      </section>
      <section class="copyright">
        <p>Copyright ©2023 Palabras Sin Prisa</p>
      </section>
    </footer>
  </body>
</html>
