<!-- FOOTER -->
<footer>
  <section class="footer-section">
    <ul class="footer-navbar">
      <li>
        <a href="#">Productos</a>
      </li>
      <li>
        <a href="#">Sucursales</a>
      </li>
      <li>
        <a href="#">Ayuda</a>
      </li>
      <li>
        <a href="/home">PALABRAS SIN PRISA</a>
      </li>
      <li>
        <a href="#">Medios de pago</a>
      </li>
      <li>
        <a href="#">Servicios de atencion al cliente</a>
      </li>
    </ul>
  </section>
  <section class="footer-section">
    <ul class="social-media-navbar">
      <li>
        <a href="https://facebook.com/"
          ><i class="fa-brands fa-facebook"></i
        ></a>
      </li>
      <li>
        <a href="https://instagram.com/"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </li>
      <li>
        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
      </li>
    </ul>
  </section>
  <section class="copyright">
    <p>Copyright ©2023 Palabras Sin Prisa</p>
  </section>
</footer>
