<!-- HEADER -->
<header class="main-header">
  <div class="main-header-top-bar">
    <a href="/home" class="logo">
      <img
        src="/img/logo-palabras-sin-prisa.png"
        alt="logo-palabras-sin-prisa"
      />
    </a>

    <div class="search-bar">
      <form action="" method="post">
        <input
          type="text"
          name="search-bar"
          id="search-bar"
          placeholder="Buscar libros, autores"
        />
        <button type="submit" name="submit" value="submit" class="search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </div>
  <nav class="main-navbar">
    <ul class="login-bar">
      <li>
        <a href="/home">Inicio<i class="fa-solid fa-house"></i></a>
      </li>
      <li>
        <a href="/detalle-de-producto"
          >Detalle <i class="fa-solid fa-book"></i
        ></a>
      </li>
      <li>
        <a href="/registro"
          >Registrarse<i class="fa-regular fa-address-card"></i
        ></a>
      </li>
      <li>
        <a href="/login">Ingreso<i class="fa-solid fa-right-to-bracket"></i></a>
      </li>
      <li>
        <a href="/carrito-de-compras"
          >Mi carrito<i class="fa-solid fa-basket-shopping"></i
        ></a>
      </li>

      <li>
        <a href="/product/create-product"
          >Vender<i class="fa-solid fa-plus"></i>
        </a>
      </li>

      <li>
        <a href="/">Contacto <i class="fa-solid fa-address-book"></i></a>
      </li>
    </ul>
  </nav>
  <a href="#" class="burger-button">
    <i class="fas fa-bars"></i>
  </a>
</header>
