<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include('../partials/head.ejs') %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
